
// max is that number or less
// min is that number or more 

// these are for screen sizes for larger devices 
@media screen and (min-width: 0px ) and (max-width: 500px) {

.d-sm {
    display: none;
}

}

@media screen and (min-width: 501px) {
// thise is scrren size for larger devices 
.d-md {
        display: none;
}
    
    }

// used for dropdown 
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
  
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}