<!-- This is for the top of the app, allows the user to name the system -->
<div class="sub_header">
  <ion-grid>
    <ion-row>
      <ion-col>
        <a (mouseleave)="writeName()"><ion-input type="text" placeholder="Enter System Name." [(ngModel)]="name">
        </ion-input></a>
      </ion-col>
      <ion-col style="text-align: right;">
        <div style="margin-top: 5px; margin-bottom: 5px; height: 40px;">
          <ion-badge *ngIf="!charging" color="success" size="large">{{ 'Charging' }}</ion-badge>
          <ion-badge *ngIf="charging" color="danger" size="large">{{ 'Discharging' }}</ion-badge>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <!-- displays the AC and DC output -->
    <ion-row>
      <ion-col style="text-align: end">
        <div>
          <div style="text-align: center; display: inline-block; margin-right: 10px;">
            <div style="display: block;">
              <ion-label position="stacked">AC Output</ion-label>
            </div>
            <div style="display: block;">
              <ion-icon *ngIf="AC === 1" size="large" style="color: green;" name="battery-charging-outline"></ion-icon>
              <ion-icon *ngIf="AC === 0" size="large" style="color: red;" name="close-circle-outline"></ion-icon>
            </div>
          </div>
          <div style="text-align: center; display: inline-block; margin-right: 10px;">
            <div style="display: block;">
              <ion-label position="stacked">DC Output</ion-label>
            </div>
            <div style="display: block;">
              <ion-icon *ngIf="DC === 1" size="large" style="color: green;" name="battery-charging-outline"></ion-icon>
              <ion-icon *ngIf="DC === 0" size="large" style="color: red;" name="close-circle-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
      <!-- displaying the battery level -->
      <ion-col>
        <div>
          <ion-label position="stacked">Battery Level: {{ progressDisplay + '%'}}</ion-label>
          <ion-progress-bar style="width: 200px; height: 10px;" [buffer]="buffer" [value]="progress" color="warning" size="large"></ion-progress-bar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title> {{"Day: " + date }} </ion-card-title>
          </ion-card-header>
          <!-- used to make and control the graphs data -->
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <div style="width: 100%;">
                  <canvas style="max-height: 400px; width: 100%;" #powerGraph></canvas>
                </div>
              </ion-row>
              <ion-row>
                <div style="display: inline-block;">
                  <ion-button (click)="displayDay()">Day</ion-button>
                </div>
                <div style="display: inline-block;">
                  <ion-button (click)="displayWeek()">Week</ion-button>
                </div>
                <div style="display: inline-block;">
                  <ion-button (click)="displayMonth()">Month</ion-button>
                </div>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Categorize the data that is being displayed --> 
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-title>Day</ion-title>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-title>Week</ion-title>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-title>Month</ion-title>
      </ion-col>
    </ion-row>
    <!-- First row of data -->
    <ion-row>
      <!-- Max Power Output for Day -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Max Power Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ maxPowerData + ' W'}}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Current Power for Day -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Current Power Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ currentPowerData + ' W'}}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Max Power Output For Week -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Max Power Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ maxPowerData + ' W' }}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Max Voltage Output for Week -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Max Voltage Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ maxVoltageData + ' V' }}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Max Power Output for Month -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Max Power Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ maxPowerData + ' W' }}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Max Voltage Output for Month -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Max Voltage Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ maxVoltageData + ' V' }}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Second row of data -->
    <ion-row>
      <!-- Current Voltage Output for Day -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Voltage </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ voltageData + ' V' }}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!--  Current Current Output for Day -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Current </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ currentData + ' A' }}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Max Current Output for Week -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Max Current Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{  maxCurrentData + ' A' }}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <!-- <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Current Power Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ 'Data To Be Displayed' }}</strong></p>
          </ion-card-content>
        </ion-card> -->
      </ion-col> 
      <!-- Max Current Output for Month -->
      <ion-col>
        <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Max Current Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ maxCurrentData + ' A' }}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <!-- <ion-card color="light">
          <ion-card-header style="text-align: center;">
            <ion-card-title style="padding-bottom: 4px; border-bottom: 1px solid black;"> Current Power Output </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p style="font-size: large;"><strong>{{ 'Data To Be Displayed' }}</strong></p>
          </ion-card-content>
        </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</div>







